<!-- Trường hợp giỏ hàng có sản phẩm -->
@if (cartItems.length > 0) {
<div class="cart-detail-wrapper">
  <!-- Địa chỉ giao hàng -->
  <div class="address">
    <div [formGroup]="addrFormGroup">
      <div class="row">
        <h3>
          <i class="fa fa-truck" aria-hidden="true" ></i> ĐỊA CHỈ GIAO HÀNG
        </h3>
      </div>

      <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-3"><label>TỈNH/THÀNH PHỐ</label></div>
        <div class="col-md-4"><label>QUẬN/HUYỆN</label></div>
        <div class="col-md-3"><label>PHƯỜNG/XÃ</label></div>
      </div>
      <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-3">
          <div class="input-space">
            <select
              style="padding: 8px"
              formControlName="provinceId"
              (change)="handleProvinceSelected($event)"
            >
              <option [value]="-1" disabled>
                --- Chọn tỉnh/thành phố ---
              </option>
              @for (province of provinces; track $index) {
              <option [value]="province.id">
                {{ province.name }}
              </option>
              }
            </select>
          </div>
        </div>
        <div class="col-md-4">
          <div class="input-space">
            <select
              style="padding: 8px"
              formControlName="districtId"
              (change)="handleDistrictSelected($event)"
            >
              <option [value]="-1">--- Chọn huyện/thị xã ---</option>
              @for (district of districts; track $index) {
              <option [value]="district.id">
                {{ district.name }}
              </option>
              }
            </select>
          </div>
        </div>
        <div class="col-md-3">
          <div class="input-space">
            <select
              formControlName="districtId"
              style="padding: 8px"
              (change)="handleWardSelected($event)"
            >
              <option [value]="-1">--- Chọn phường/xã ---</option>
              @for (ward of wards; track ward.id) {
              <option [value]="ward.id">
                {{ ward.name }}
              </option>
              }
            </select>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-10"><label>ĐỊA CHỈ</label></div>
      </div>
      <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-10">
          <div class="input-space">
            <input type="text" style="width: 100%; padding: 5px" />
          </div>
        </div>
      </div>
    </div>
  </div>
  <p class="cart-detail-heading">GIỎ HÀNG CỦA BẠN</p>
  <div>
    @for (cartItem of cartItems; track $index) {
    <div>
      <div class="cart-item">
        <div class="cart-item-info">
          <img src="{{ cartItem.productThumbnail }}" class="cart-item-image" />
          <a [routerLink]="['/products', cartItem.productNo]">
            <p class="cart-item-name">{{ cartItem.name }}</p>
          </a>
        </div>

        <div class="cart-item-unit-price">
          Đơn giá:
          <p>
            {{ cartItem.unitPrice | currency : "VND" : "symbol" : "1.0-0" }}
          </p>
        </div>

        <div class="coupon">
          <select
            (change)="onSelectedChange(cartItem)"
            class="form-control"
            [(ngModel)]="cartItem.coupon"
          >
            <option value="" disabled selected>Chọn mã giảm giá</option>
            <option
              *ngFor="
                let coupon of getCartItemCoupons(
                  cartItem.productNo,
                  cartItem.categoryCode
                )
              "
              [value]="coupon"
            >
              {{ coupon }}
            </option>
          </select>
        </div>

        <div class="cart-item-quantity-wrapper">
          <button
            (click)="decrementQuantity(cartItem)"
            class="btn btn-primary btn-sm btn-decre"
          >
            <fa-icon [icon]="faMinus" class="icon-derce"></fa-icon>
          </button>
          <p class="cart-item-quantity">{{ cartItem.quantity }}</p>
          <button
            (click)="incrementQuantity(cartItem)"
            class="btn btn-primary btn-sm btn-incre"
          >
            <fa-icon [icon]="faPlus"></fa-icon>
          </button>
        </div>

        <div class="cart-item-total-price">
          @if (cartItem.coupon && cartItem.finalPrice) {
          <div class="discount">
            Giảm:
            <p>
              {{
                cartItem.unitPrice * cartItem.quantity - cartItem.finalPrice
                  | currency : "VND" : "symbol" : "1.0-0"
              }}
            </p>
          </div>
          <div class="final-price">
            Thành tiền:
            <p>
              {{ cartItem.finalPrice | currency : "VND" : "symbol" : "1.0-0" }}
            </p>
          </div>
          } @else {
          <p>
            Thành tiền:
            {{
              cartItem.quantity * cartItem.unitPrice
                | currency : "VND" : "symbol" : "1.0-0"
            }}
          </p>
          }
        </div>

        <button (click)="remove(cartItem)" class="delete-btn">
          <fa-icon [icon]="faTrash" style="border: none"></fa-icon>
        </button>
      </div>
    </div>
    }
    <!-- Tính tổng tiền -->
    <div class="checkout">
      <div class="total-quantity">
        Tổng số lượng:
        <p>{{ totalQuantity }}</p>
      </div>
      <div class="shipping-fee">
        Phí giao hàng:
        <p>{{ shippingFee == 0 ? "Vui lòng chọn địa chỉ giao hàng" : shippingFee }}</p>
      </div>
      <div class="coupon">
        Mã vận chuyển:
        <input
          type="text"
          class="form-control"
          placeholder="Nhập hoặc chọn mã giảm giá"
          [(ngModel)]="selectedShippingFeeCoupon"
          list="availableCoupons"
        />
        <!-- Danh sách mã giảm giá gợi ý -->
        <datalist id="availableCoupons">
          <option *ngFor="let coupon of filteredCoupons" [value]="coupon.code">
            {{ coupon.description }}
          </option>
        </datalist>
      </div>
      <div class="total-price">
        Tổng tiền:
        <p>
          {{ totalPrice + shippingFee | currency : "VND" : "symbol" : "1.0-0" }}
        </p>
      </div>
      <a routerLink="/checkout" class="btn checkout-btn">Thanh toán</a>
    </div>
  </div>
</div>
} @else {
<p class="cart-detail-heading">GIỎ HÀNG CỦA BẠN</p>
<!-- Trường hợp giỏ hàng không có sản phẩm nào -->
<div
  class="alert alert-warning col-md-12"
  role="alert"
  style="margin-bottom: 16px"
>
  Giỏ hàng của bạn trống.
</div>
}
