.cart-area {
  display: flex;
  align-items: center;
  column-gap: 4px;
}

.total {
  background: rgb(10, 104, 255);
  line-height: 35px;
  color: #fff;
  border-radius: 30px;
  border: 1px solid #8c949b;
  padding-left: 17px
}

.number-of-roducts {
  display: inline-block;
  background: #fff;
  padding: 0 13px;
  color: #000;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  margin-left: 11px
}

.cart-icon {
  font-size: 22px;
  color: rgb(10, 104, 255);
}