<footer class="footer">
  <div class="container">
    <div class="row">
      <div class="footer-col">
        <h4>Công ty</h4>
        <ul>
          <li><a href="#">Về chúng tôi</a></li>
          <li><a href="#">Dịch vụ</a></li>
          <li><a href="#">Chính sách</a></li>
          <li><a href="#">Tuyển dụng</a></li>
        </ul>
      </div>
      <div class="footer-col">
        <h4>Giúp đỡ</h4>
        <ul>
          <li><a href="#">FAQ</a></li>
          <li><a href="#">Giao hàng</a></li>
          <li><a href="#">Tình trạng đơn hàng</a></li>
          <li><a href="#">Phương thức thanh toán</a></li>
        </ul>
      </div>
      <div class="footer-col">
        <h4>Chăm sóc khách hàng</h4>
        <ul>
          <li><a href="#">Trung tâm trợ giúp</a></li>
          <li><a href="#">Bảo hành</a></li>
          <li><a href="#">Kênh truyền thông</a></li>
          <li><a href="#">Chương trình ưu đãi</a></li>
        </ul>
      </div>
      <div class="footer-col">
        <h4>Theo dõi chúng tôi</h4>
        <div class="social-links">
          <a href="#"><fa-icon [icon]="faFacebook"></fa-icon></a>
          <a href="#"><fa-icon [icon]="faTwitter"></fa-icon></a>
          <a href="#"><fa-icon [icon]="faInstagram"></fa-icon></a>
          <a href="#"><fa-icon [icon]="faLinkedin"></fa-icon></a>
        </div>
      </div>
    </div>
  </div>
  <div class="copyright">
    <p>&copy; Vutiendat3601-Shop. All rights reserved.</p>
  </div>
</footer>