<div class="flex-r container">
  <div class="flex-r login-wrapper">
    <div class="login-text">
      <p class="login-heading">Đăng ký</p>
      <p class="login-welcome">
        Chào mừng bạn, chúc bạn có trải nghiệm mua sắm tốt với cửa hàng!
      </p>

      <form class="flex-c" [formGroup]="registerForm" (ngSubmit)="onSubmit()">
        <div class="input-box">
          <span class="label">Tài khoản</span>
          <div class="flex-r input">
            <input
              type="text"
              placeholder="Nhập tài khoản..."
              formControlName="username"
            />
            <i class="fa-regular fa-user"></i>
          </div>
          <div
            *ngIf="
              registerForm.get('username')?.invalid &&
              registerForm.get('username')?.touched
            "
          >
            <small class="error">Tài khoản là bắt buộc.</small>
          </div>
        </div>

        <div class="input-box">
          <span class="label">Email</span>
          <div class="flex-r input">
            <input
              type="text"
              placeholder="Nhập địa chỉ email..."
              formControlName="email"
            />
            <i class="fas fa-at"></i>
          </div>
          <div
            *ngIf="
              registerForm.get('email')?.invalid &&
              registerForm.get('email')?.touched
            "
          >
            <small
              class="error"
              *ngIf="registerForm.get('email')?.errors?.['required']"
              >Email là bắt buộc.</small
            >
            <small
              class="error"
              *ngIf="registerForm.get('email')?.errors?.['email']"
              >Email không hợp lệ.</small
            >
          </div>
        </div>

        <div class="input-box">
          <span class="label">Mật khẩu</span>
          <div class="flex-r input">
            <input
              [type]="showPassword ? 'text' : 'password'"
              placeholder="Nhập mật khẩu..."
              formControlName="password"
            />
            <i
              class="fas"
              [ngClass]="showPassword ? 'fa-eye-slash' : 'fa-eye'"
              (click)="togglePasswordVisibility()"
              style="cursor: pointer; margin-left: 8px"
            ></i>
          </div>
          <div
            *ngIf="
              registerForm.get('password')?.invalid &&
              registerForm.get('password')?.touched
            "
          >
            <small class="error"
              >Mật khẩu là bắt buộc và phải có ít nhất 8 ký tự.</small
            >
          </div>
        </div>

        <div class="input-box">
          <span class="label">Nhập lại mật khẩu</span>
          <div class="flex-r input">
            <input
              [type]="showConfirmPassword ? 'text' : 'password'"
              placeholder="Nhập lại mật khẩu..."
              formControlName="confirmPassword"
            />
            <i
              class="fas"
              [ngClass]="showConfirmPassword ? 'fa-eye-slash' : 'fa-eye'"
              (click)="toggleConfirmPasswordVisibility()"
              style="cursor: pointer; margin-left: 8px"
            ></i>
          </div>
          <div
            *ngIf="
              registerForm.errors?.['notSame'] &&
              registerForm.get('confirmPassword')?.touched
            "
          >
            <small class="error">Mật khẩu không khớp.</small>
          </div>
        </div>

        <div class="check">
          <input type="checkbox" formControlName="terms" />
          <span>Tôi đồng ý với các điều khoản</span>
          <div
            *ngIf="
              registerForm.get('terms')?.invalid &&
              registerForm.get('terms')?.touched
            "
          >
            <small class="error">Bạn chưa đồng ý với các điều khoản.</small>
          </div>
        </div>

        <input
          class="btn"
          type="submit"
          value="Đăng ký"
          [disabled]="registerForm.invalid"
        />
        <span class="extra-line">
          <span>Bạn đã có tài khoản?</span>
          <a [routerLink]="['/auth/login']">Đăng nhập tại đây</a>
        </span>
      </form>
    </div>
  </div>
</div>
