<div class="detail-section">
  <div class="container-fluid">
    <div class="product-image">
      <img src="{{ product.imageUrl }}" class="detail-img" />
    </div>
    <div class="product-info">
      <h3 class="product-name">{{ product.name }}</h3>
      <div class="product-price">
        {{ product.unitPrice | currency: 'VND' : 'symbol' : '1.0-0' }}
      </div>
      <hr />
      <div class="product-desc">
        <h4>Mô tả sản phẩm</h4>
        <p>{{ product.description }}</p>
      </div>
      <div class="add-to-cart">
        <button (click)="addToCart(product)" class="add-btn">
          Thêm vào giỏ hàng
        </button>
      </div>
    </div>
  </div>
</div>
