.container {
    max-width: 1170px;
    margin: auto;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

ul {
    list-style: none;
    padding: 0;
}

.footer {
    background-color: #24262b;
    padding-top: 20px;
    position: relative;
}

.footer-col {
    width: 25%;
    padding: 0 1px;
}

.footer-col h4 {
    font-size: 18px;
    color: #fff;
    text-transform: capitalize;
    margin-bottom: 20px;
    font-weight: 500;
    position: relative;
    text-align: left;
}

.footer-col h4::before {
    content: '';
    position: absolute;
    left: 0;
    bottom: -10px;
    background-color: #e91e63;
    height: 2px;
    width: 50px;
    box-sizing: border-box;
}

.footer-col ul li {
    display: flex;
    flex-direction: row;
    margin-bottom: 5px;
}

.footer-col ul li:last-child {
    margin-bottom: 0;
}

.footer-col ul li a {
    font-size: 16px;
    color: #bbb;
    text-transform: capitalize;
    text-decoration: none;
    font-weight: 300;
    display: block;
    transition: all 0.3s ease;
}

.footer-col ul li a:hover {
    color: #fff;
    padding-left: 8px;
}

.footer-col .social-links a {
    display: inline-block;
    width: 30px;
    height: 30px;
    background-color: rgba(255, 255, 255, 0.2);
    color: #fff;
    margin: 0 5px 5px 0;
    text-align: center;
    line-height: 30px;
    border-radius: 50%;
    transition: all 0.5s ease;
}

.footer-col .social-links a:hover {
    color: #24262b;
    background-color: #fff;
}

.copyright {
    background-color: #1e1e1e;
    padding: 20px 0;
    text-align: center;
    color: #bbb;
    font-size: 14px;
    border-top: 1px solid #444;
}

.copyright p {
    margin: 0;
}

.copyright {
    background-color: #1e1e1e;
    padding: 10px 0;
    text-align: center;
    color: #bbb;
    font-size: 12px;
    border-top: 1px solid #444;
}

.copyright p {
    margin: 0;
}
