<div class="page-wrapper">



  <!-- MENU SIDEBAR-->
  <aside class="menu-sidebar d-none d-lg-block">
    <div class="logo">
      <a href="#">
        <img src="assets/images/logo.png" alt="" class="img-responsive">
      </a>
    </div><app-product-category-menu></app-product-category-menu>
  </aside>
  <!-- END MENU SIDEBAR-->

  <div class="page-container">
    <!-- HEADER DESKTOP-->
    <header class="header-desktop">
      <div class="section-content section-content-p30">
        <div class="container-fluid">
          <div class="header-wrap">
            <app-search></app-search>
            <app-cart-status></app-cart-status>
          </div>
          <div class="account-wrap"></div>
        </div>
      </div>
    </header>
    <!-- END HEADER DESKTOP-->

    <!-- MAIN CONTENT-->
    <router-outlet></router-outlet>

  </div>
</div>

<!-- ENDS PAGE CONTAINER -->

  <footer class="footer">
    <div class="container">
      <div class="row">
        <!-- Company Column -->
        <div class="footer-col">
          <h4>Công ty</h4>
          <ul>
            <li><a href="#">Về chúng tôi</a></li>
            <li><a href="#">Dịch vụ</a></li>
            <li><a href="#">Chính sách</a></li>
            <li><a href="#">Chương trình ưu đãi</a></li>
          </ul>
        </div>

        <!-- Get Help Column -->
        <div class="footer-col">
          <h4>Giúp đỡ</h4>
          <ul>
            <li><a href="#">FAQ</a></li>
            <li><a href="#">Giao hàng</a></li>
            <li><a href="#">Hoàn hàng</a></li>
            <li><a href="#">Tình trạng đơn hàng</a></li>
            <li><a href="#">Phương thức thanh toán</a></li>
          </ul>
        </div>

        <!-- Online Shop Column -->
        <div class="footer-col">
          <h4>Danh mục sản phẩm</h4>
          <ul>
            <li><a href="#">books</a></li>
            <li><a href="#">coffee mugs</a></li>
            <li><a href="#">mouse pads</a></li>
            <li><a href="#">luggage tags</a></li>
          </ul>
        </div>

        <!-- Follow Us Column -->
        <div class="footer-col">
          <h4>Theo dõi chúng tôi</h4>
          <div class="social-links">
            <a href="#"><i class="fab fa-facebook-f"></i></a>
            <a href="#"><i class="fab fa-twitter"></i></a>
            <a href="#"><i class="fab fa-instagram"></i></a>
            <a href="#"><i class="fab fa-linkedin-in"></i></a>
          </div>
        </div>
      </div>
    </div>

    <!-- Copyright Section -->
    <div class="copyright">
      <p>&copy; Vutiendat3601-Shop. All rights reserved.</p>
    </div>
  </footer>
