<div class="flex-r container">
  <div class="flex-r login-wrapper">
    <div class="login-text">
      <p class="login-heading">Đăng nhập</p>
      <p class="login-welcome">
        Chào mừng bạn, chúc bạn có trải nghiệm mua sắm tốt với cửa hàng!
      </p>

      <form class="flex-c" [formGroup]="loginForm" (ngSubmit)="onSubmit()">
        <div class="input-box">
          <span class="label">Tài khoản</span>
          <div class="flex-r input">
            <input
              type="text"
              placeholder="Nhập tài khoản..."
              formControlName="username"
            />
            <i class="fa-regular fa-user"></i>
          </div>
          <div
            *ngIf="
              loginForm.get('username')?.invalid &&
              loginForm.get('username')?.touched
            "
          >
            <small class="error">Tài khoản là bắt buộc.</small>
          </div>
        </div>

        <div class="input-box">
          <span class="label">Mật khẩu</span>
          <div class="flex-r input">
            <input
              [type]="showPassword ? 'text' : 'password'"
              placeholder="Nhập mật khẩu..."
              formControlName="password"
            />
            <i
              class="fas"
              [ngClass]="showPassword ? 'fa-eye-slash' : 'fa-eye'"
              (click)="togglePasswordVisibility()"
              style="cursor: pointer; margin-left: 8px"
            ></i>
          </div>
          <div
            *ngIf="
              loginForm.get('password')?.invalid &&
              loginForm.get('password')?.touched
            "
          >
            <small class="error"
              >Mật khẩu là bắt buộc và phải có ít nhất 8 ký tự.</small
            >
          </div>
        </div>

        <input
          class="btn"
          type="submit"
          value="Đăng nhập"
          [disabled]="loginForm.invalid"
        />
        <span class="extra-line">
          <span>Bạn chưa có tài khoản?</span>
          <a [routerLink]="['/auth/register']">Đăng ký tại đây</a>
        </span>
      </form>
    </div>
  </div>
</div>
