<div class="background-reset">
  <div class="reset-password-form">
    <div class="row"></div>
    <h1>ĐỔI MẬT KHẨU</h1>
    <form (ngSubmit)="onSubmit()" #resetForm="ngForm" method="POST">
      <div class="row"></div>
      <div class="row"></div>
      <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-10">
          <label for="newPassword">Mật khẩu mới:</label>
          <div class="password-wrapper">
            <input type="password" id="newPassword" [(ngModel)]="newPassword" name="newPassword" minlength="8" maxlength="32" required (input)="validatePasswordMatch()">
            <i class="fa fa-eye-slash toggle-password" aria-hidden="true" (click)="togglePassword('newPassword')"></i>
          </div>
          <label for="confirmPassword">Xác nhận mật khẩu:</label>
          <div class="password-wrapper">
            <input type="password" id="confirmPassword" [(ngModel)]="confirmPassword" name="confirmPassword" minlength="8" maxlength="32" required (input)="validatePasswordMatch()" (focus)="confirmPasswordFocused = true">
            <i class="fa fa-eye-slash toggle-password" aria-hidden="true" (click)="togglePassword('confirmPassword')"></i>
          </div>
          <p class="password-mismatch" [ngClass]="{'visible': !passwordsMatch && confirmPasswordFocused}">Mật khẩu xác nhận không khớp.</p>
        </div>
      </div>
      <div class="row"></div>
      <div class="row"></div>
      <div class="row"></div>
      <div class="row"></div>
      <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-10">
          <button type="submit" [disabled]="!passwordsMatch">Đặt lại</button>
        </div>
      </div>
    </form>
  </div>
</div>


<div class="custom-alert" *ngIf="alertVisible">
  <div class="alert-content">
    <h3><i class="fa fa-exclamation-triangle" aria-hidden="true"></i></h3>
    {{ alertMessage }}
    <button (click)="closeAlert()" class="au-btn-submit">Đóng</button>
  </div>
</div>
