<div class="wrapper">
  <h1 mat-dialog-title>THÊM SẢN PHẨM</h1>
  <div mat-dialog-content class="content">
    <mat-form-field>
      <mat-label>SKU</mat-label>
      <input
        matInput
        [(ngModel)]="productCreateReq.sku"
        placeholder="SKU"
        required
      />
    </mat-form-field>
    <mat-form-field>
      <mat-label>SLUG</mat-label>
      <input
        matInput
        [(ngModel)]="productCreateReq.slug"
        placeholder="SLUG"
        required
      />
    </mat-form-field>
    <mat-form-field>
      <mat-label>Tên sản phẩm</mat-label>
      <input
        matInput
        [(ngModel)]="productCreateReq.name"
        placeholder="Tên sản phẩm"
        required
      />
    </mat-form-field>
    <mat-form-field>
      <mat-label>Mô tả sản phẩm</mat-label>
      <input
        matInput
        [(ngModel)]="productCreateReq.description"
        placeholder="Mô tả sản phẩm"
      />
    </mat-form-field>
    <mat-form-field>
      <mat-label>Giá bán</mat-label>
      <input
        matInput
        [(ngModel)]="productCreateReq.unitPrice"
        placeholder="Giá bán"
        required
      />
    </mat-form-field>
    <mat-form-field>
      <mat-label>Giá niêm yết </mat-label>
      <input
        matInput
        [(ngModel)]="productCreateReq.unitListedPrice"
        placeholder="Giá niêm yết "
        required
      />
    </mat-form-field>
    <mat-form-field>
      <mat-label>Ảnh sản phẩm</mat-label>
      <input
        matInput
        [(ngModel)]="productCreateReq.thumbnail"
        placeholder="File ảnh sản phẩm"
      />
    </mat-form-field>
    <mat-form-field>
      <mat-label>Danh mục</mat-label>
      <mat-select
        [(value)]="selectedCategoryId"
        (selectionChange)="onCategoryChange($event.value)"
        required
      >
        <mat-option *ngFor="let category of categories" [value]="category.id">
          {{ category.name }}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <div mat-dialog-actions class="actions-btn">
    <button mat-button (click)="onCancel()" class="cancel-btn">Hủy</button>
    <button mat-button (click)="onSave()" class="save-btn">Lưu</button>
  </div>
</div>
