
.flex-r,
.flex-c {
  justify-content: center;
  align-items: center;
  display: flex;
}

.flex-c {
  flex-direction: column;
}

.flex-r {
  flex-direction: row;
}

.container {
  width: 100%;
  min-height: 100vh;
  padding: 20px 10px;
}

.login-text {
  min-width: 600px;
  min-height: 450px;
  border-radius: 10px;
  padding: 10px 20px;
  box-shadow: 0 1px 20px rgba(0, 0, 0, 0.3);
}

.login-heading,
.login-welcome {
  display: flex;
  justify-content: center;
}

.login-heading {
  margin: 0;
  font-size: 32px;
  font-weight: 500;
}

.login-welcome {
  margin: 0;
  font-size: 16px;
  margin-top: 8px;
}

form {
  width: 100%;
  margin-top: 15px;
}

.input-box {
  margin: 16px 0;
  width: 100%;
}

.label {
  font-size: 16px;
  color: #000;
}

.input {
  background-color: #f6f6f6;
  padding: 0 5px;
  border: 2px solid rgba(216, 216, 216, 1);
  border-radius: 10px;
}

input {
  padding: 10px 5px;
  background-color: #f6f6f6;
  border: none;
  flex: 1;
  border: none;
  outline: none;
}

.input i {
  color: rgba(0, 0, 0, 0.4);
  margin-right: 8px;
}

.check span {
  color: #000000b2;
  font-size: 15px;
  font-weight: bold;
  margin-left: 5px;
}

.btn {
  width: 100%;
  color: #fff;
  border-radius: 30px;
  padding: 10px 15px;
  background: linear-gradient(122.33deg, #68bed1 30.62%, #1e94e9 100%);
  margin: 30px 0 30px;
  font-size: 16px;
  transition: all 0.3s linear;
}

.btn:hover {
  transform: translateY(-2px);
}

.extra-line {
  font-size: 15px;
  font-weight: 600;
}

.extra-line a {
  margin-left: 8px;
  margin-bottom: 20px;
  color: #0095b6;
}

.error {
  color: red;
  font-size: 16px;
  margin-top: 5px;
}
