.nav-items {
  padding-top: 40px;
  .nav-item {
    padding: 25px 50px;
    cursor: pointer;
    &:hover {
      background-color: rgb(1, 38, 69);
    }
    fa-icon {
      margin-right: 20px;
      font-size: 22px;
    }
    span {
      display: inline;
    }
  }
}
