<div class="nav-items">
  <div class="nav-item" routerLink="dashboard">
    <span>Dashboard</span>
  </div>
  <div class="nav-item" routerLink="manage-product">
    <span>Quản lý sản phẩm</span>
  </div>
  <div class="nav-item" routerLink="manage-category">
    <span>Quản lý danh mục</span>
  </div>
  <div class="nav-item" routerLink="manage-order">
    <span>Quản lý đơn hàng</span>
  </div>
  <div class="nav-item" routerLink="manage-user">
    <span>Quản lý người dùng</span>
  </div>
  <div class="nav-item" routerLink="manage-sales">
    <span>Thống kê doanh số</span>
  </div>
  <div class="nav-item">
    <fa-icon [icon]="faHand"></fa-icon>
    <span>Help</span>
  </div>
</div>
