<h1 mat-dialog-title>QUẢN LÝ DANH MỤC</h1>
<div mat-dialog-content class="content">
  <mat-form-field>
    <mat-label>CODE</mat-label>
    <input matInput [(ngModel)]="category.code" placeholder="CODE" required />
  </mat-form-field>
  <mat-form-field>
    <mat-label>Tên sản phẩm</mat-label>
    <input matInput [(ngModel)]="category.name" placeholder="Tên sản phẩm" required />
  </mat-form-field>
  <mat-form-field>
    <mat-label>Slug</mat-label>
    <input matInput [(ngModel)]="category.slug" placeholder="Slug" required/>
  </mat-form-field>
  <mat-form-field>
    <mat-label>Ảnh sản phẩm</mat-label>
    <input matInput [(ngModel)]="category.thumbnail" placeholder="File ảnh sản phẩm"/>
  </mat-form-field>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onCancel()">Hủy</button>
  <button mat-button (click)="onSave()">Lưu</button>
</div>
