<div class="order-table-wrapper">
  <div class="order-header">
    <h1 class="order-heading">DANH SÁCH ĐƠN HÀNG</h1>
  </div>
  <table class="order-table">
    @for (order of orders; track $index) {
    <tr>
      <div class="order-wrapper">
        <div class="order-text">
          <!-- Header của hóa đơn -->
          <div class="row header">
            <div class="col">TÊN SẢN PHẨM</div>
            <div class="col">ĐƠN GIÁ</div>
            <div class="col">SỐ LƯỢNG</div>
            <div class="col">GIẢM GIÁ</div>
            <div class="col">THÀNH TIỀN</div>
          </div>

          @for (item of order.items; track $index) {
          <div class="row">
            <!-- Sản phẩm A -->
            <div class="row">
              <div class="col">{{ item.productName }}</div>
              <div class="col">{{ item.totalAmount | currency : "VND"}}</div>
              <div class="col">{{ item.quantity }}</div>
              <div class="col">{{ item.couponAmount | currency : "VND"}}</div>
              <div class="col">{{ item.finalAmount| currency : "VND" }}</div>
            </div>
          </div>
          }
          <!-- Phí ship -->
          <div class="row shipping-fee">
            <div class="col">Phí vận chuyển:</div>
            <div class="col gray-bg">{{ order.shippingFeeAmount | currency : "VND" }}</div>
          </div>

          <!-- Tổng đơn hàng -->
          <div class="row total-amount">
            <div class="col">Tổng đơn hàng:</div>
            <div class="col blue-bg">{{ order.finalAmount | currency : "VND"}}</div>
          </div>

          <!-- Nút đã giao hàng -->
          <div class="row status-button">
            <button>{{ order.status }}</button>
          </div>
        </div>
      </div>
    </tr>
    }
  </table>
</div>