<header class="header">
  <div class="header-wrap">
    <div class="header-logo">
      <a href="#">
        <img height="40" src="assets/img/logo.png" alt="Shop Sinh Vien - co hen voi thanh xuan"
          class="img-responsive" />
      </a>
    </div>
    <div class="search">
      <app-search />
    </div>
    <div class="actions">
      <app-cart-status></app-cart-status>
      <a class="btn btn-primary" routerLink="auth/login" style="text-decoration: none;">Đăng nhập</a>
    </div>
  </div>
</header>