.heading {
  font-size: 30px;
  padding: 30px 30px 10px 30px;
}

.content {
  padding: 0 30px;
}

.btn-actions {
  display: flex;
  flex-direction: row-reverse;
  padding: 10px 30px;
  button {
    border: none;
    outline: none;
    padding: 5px 10px;
    margin: 0 5px;
    font-size: 16px;
    border: none;
    border-radius: 4px;
    color: white;
    transition: background-color 0.3s ease;
    &:hover {
      cursor: pointer;
      opacity: 0.6;
    }
  }
  .cancel-btn {
    margin-right: 9px;
    background-color: rgb(227, 220, 17);
  }
  .delete-btn {
    background-color: #f44336;
  }
}
