.product-table-wrapper {
  margin: 20px auto;
  padding: 10px;
  width: 90%;
  border-radius: 5px;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
  background-color: #f9f9f9;
}

.product-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  button {
    border: none;
    font-size: 16px;
    border-radius: 4px;
    padding: 5px 10px;
    margin: 0 5px;
    background-color: rgb(88, 194, 43);
    color: #fff;
    &:hover {
      cursor: pointer;
      opacity: 0.6;
    }
  }
}

.product-heading {
  text-align: left;
  font-size: 24px;
  font-weight: bold;
  color: #333;
  margin-bottom: 20px;
  font-weight: 500;
}

.product-table {
  width: 100%;
  border-collapse: collapse;
  border-radius: 8px;
}

.product-table thead th {
  background-color: #3f83c8;
  color: white;
  padding: 10px 15px;
  text-align: left;
  font-weight: bold;
  border-bottom: 2px solid #ddd;
}

.product-table tbody td {
  padding: 10px 15px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

.product-table tbody tr:nth-child(odd) {
  background-color: #f2f2f2;
}

.product-table tbody tr:hover {
  background-color: #e9f5e9;
}

.product-table tbody img {
  border-radius: 5px;
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.product-table tbody button {
  padding: 5px 10px;
  margin: 0 5px;
  font-size: 16px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.product-table tbody button:first-child {
  background-color: #3f83c8;
  color: white;
}

.product-table tbody button:last-child {
  background-color: #f44336;
  color: white;
}

.product-table tbody button:hover {
  opacity: 0.6;
}

.product-table tbody td {
  font-size: 16px;
  color: #333;
}
