.background-reset {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.reset-password-form {
  min-width: 600px;
  min-height: 450px;
  border-radius: 10px;
  padding: 10px 20px;
  box-shadow: 0 1px 20px rgba(0, 0, 0, 0.3);
}

.reset-password-form h1 {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: bold;
  margin-bottom: 20px;
  text-align: center;
  color: rgb(12, 36, 76);
}

.reset-password-form label {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: larger;
  display: block;
  margin-bottom: 8px;
}

.reset-password-form input {
  background-color: #f6f6f6;
  padding: 0 5px;
  border: 2px solid rgba(216, 216, 216, 1);
  border-radius: 10px;
  padding: 10px 5px;
  background-color: #f6f6f6;
  flex: 1;
}

.reset-password-form button {
  width: 80%;
  padding: 10px 20px;
  background: linear-gradient(122.33deg, #68bed1 30.62%, #1e94e9 100%);
  border: none;
  border-radius: 30px;
  color: #fff;
  font-size: 20px;
  cursor: pointer;
  transition: background 0.3s;
}

.reset-password-form button:hover {
  opacity: 0.9;
}


.password-wrapper {
  position: relative;
}

.password-wrapper input {
  width: 100%;
  padding-right: 40px;
}

.toggle-password {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  font-size: 18px;
}

.custom-alert {
  position: fixed;
  top: 50%;
  left: 60%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  border: 1px solid #f5c6cb;
  padding: 20px;
  z-index: 1000;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
}

.custom-alert i{
  color: red;
}

.alert-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.password-mismatch {
  color: red;
  font-size: 14px;
  margin-top: 8px;
  margin-bottom: 16px;
  visibility: hidden;
}

.password-mismatch.visible {
  visibility: visible;
}


