<h1 class="order-heading">DANH SÁCH ĐƠN HÀNG</h1>
<div class="order-table-wrapper" *ngFor="let order of orderDtos; let i = index">
  <p class="tracking-number">Tracking number: {{ order.trackingNumber }}</p>
  <table class="order-table">
    <thead>
      <tr class="header">
        <th class="col product-name">TÊN SẢN PHẨM</th>
        <th class="col price">ĐƠN GIÁ</th>
        <th class="col quantity">SL</th>
        <th class="col discount">GIẢM GIÁ</th>
        <th class="col total">THÀNH TIỀN</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of order.items; let j = index">
        <td class="col product-name">{{ item.productName }}</td>
        <td class="col price">{{ item.totalAmount | currency : 'VND' }}</td>
        <td class="col quantity">{{ item.quantity }}</td>
        <td class="col discount">{{ item.couponAmount | currency : 'VND' }}</td>
        <td class="col total">{{ item.finalAmount | currency : 'VND' }}</td>
      </tr>
      <tr class="shipping-fee">
        <td colspan="4">Phí vận chuyển:</td>
        <td>{{ order.shippingFeeAmount | currency : 'VND' }}</td>
      </tr>
      <tr class="total-amount">
        <td colspan="4">Tổng đơn hàng:</td>
        <td>{{ order.finalAmount | currency : 'VND' }}</td>
      </tr>
      <tr class="status-dropdown">
        <td colspan="5">
          <select
            id="order-status"
            #orderStatusDropdown
            [(ngModel)]="order.status"
            (change)="updateStatusColor($event, orderStatusDropdown)"
          >
            <option value="PENDING">Chờ xử lý</option>
            <option value="SHIPPED">Đã giao hàng</option>
            <option value="CANCELED">Đã hủy</option>
          </select>
        </td>
      </tr>
    </tbody>
  </table>
</div>
