.order-table-wrapper {
  margin: 20px auto;
  padding: 10px;
  width: 90%;
  border-radius: 5px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  background-color: #f9f9f9;
}

.tracking-number {
  font-size: 20px;
  font-weight: 450;
  color: black;
  margin: 10px 0;
}

.order-heading {
  text-align: center;
  color: #333;
  font-size: 28px;
  margin: 20px 0;
}

.order-table {
  width: 100%;
  border-collapse: collapse;
  font-family: "Arial", sans-serif;
}

.col {
  padding: 10px;
  text-align: left;
}

.header .col {
  font-weight: bold;
  color: gray;
}

.shipping-fee,
.total-amount {
  font-size: 16px;
  font-weight: bold;
  padding-top: 20px;
}

.status-dropdown select {
  width: 100%;
  background-color: #00aeef;
  color: white;
  padding: 10px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.status-dropdown option {
  background-color: white;
  color: black;
}

.status-dropdown select {
  width: 35%;
  background-color: #00aeef;
  color: white;
  padding: 10px 10px;
  font-size: 16px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  margin: 20px 20px;
}

.status-dropdown select:hover {
  width: 35%;
}

.status-dropdown option {
  background-color: white;
  color: black;
}
.status-dropdown select.green-bg {
  background-color: green;
}

.status-dropdown select.red-bg {
  background-color: red;
}

.status-dropdown select.default-bg {
  background-color: #00aeef;
}
