.order-table-wrapper {
  margin: 20px auto;
  padding: 10px;
  width: 90%;
  border-radius: 5px;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
  background-color: #f9f9f9;
}

.order-header {
  display: flex;
  align-items: center;
}


.order-heading {
  text-align: center;
  justify-content: center ;
  color: #333;
  margin-bottom: 20px;
  font-size: 35px;
}

.order-table {
  width: 100%;
  border-collapse: collapse;
  font-family: "Arial", sans-serif;
  border-radius: 8px;
}


.order-wrapper {
  width: 90%;
  padding: 20px 10px;
  margin: 0 auto;
}

.order-text {
  min-width: 600px;
  border-radius: 10px;
  padding: 10px 20px;
  box-shadow: 0 1px 20px rgba(0, 0, 0, 0.3);
}

.col {
  flex: 1;
  text-align: right;
  font-size: 18px;
  padding: 5px;
}

.row.header .col {
  font-weight: bold;
  color: gray; /* Làm chìm tên cột */
  padding: 0px 0px;
}

.row .col:first-child {
  text-align: left;
  padding: 0px 0px;
}

.row {
  padding: 0px 0px;
  margin: 0px 0px;
}

.shipping-fee, .total-amount {
  justify-content: flex-end;
  font-size: 20px;
  font-weight: bold;
  padding-top: 20px;
}

.gray-bg {
  background-color: lightgray;
}

.blue-bg {
  background-color: #00AEEF;
  color: white;
}

.status-button {
  display: flex;
  justify-content: flex-end;
  padding-top: 20px;
}

button {
  background-color: #00AEEF;
  color: white;
  padding: 10px 20px;
  font-size: 18px;
  border: none;
  cursor: pointer;
}

button:hover {
  background-color: #007bb5;
}

.status-dropdown select {
  width: 35%;
  background-color: #00AEEF;
  color: white;
  padding: 10px 10px;
  font-size: 18px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  margin: 20px 20px;
}

.status-dropdown select:hover {
  width: 35%;
}

.status-dropdown option{
  background-color: white;
  color: black;
}
.status-dropdown select.green-bg {
  background-color: green;
}

.status-dropdown select.red-bg {
  background-color: red;
}

.status-dropdown select.default-bg {
  background-color: #00AEEF;
}

