name: Build Backend version 2 Project and containerize to Docker Hub on Merge Request
on:
  pull_request:
    branches:
      - dev
    types:
      - closed
jobs:
  build:
    if: github.event.pull_request.merged == true
    runs-on: ubuntu-22.04
    steps:
      - name: Checkout Backend version 2 codebase
        uses: actions/checkout@v4
      - name: Git Pull Code and Run Angular build
        run: >
          mkdir ~/.ssh && echo "${{ secrets.SSH_PRIVATE_KEY }}" > ~/.ssh/id_rsa && chmod 600 ~/.ssh/id_rsa
          && ssh -i ~/.ssh/id_rsa -o StrictHostKeyChecking=no vutiendat3601@dev.shopsinhvien.io.vn
          cd ~/vutiendat3601-shop/frontend-v2
          && git pull
          && ng build
