name: Build Backend version 2 Project and containerize to Docker Hub on Merge Request
on:
  pull_request:
    branches:
      - dev
    types:
      - closed
jobs:
  build:
    if: github.event.pull_request.merged == true
    runs-on: ubuntu-22.04
    steps:
      - name: Checkout Backend version 2 codebase
        uses: actions/checkout@v4
      - name: Prepare SSH Key
        run: mkdir ~/.ssh && echo "${{ secrets.SSH_PRIVATE_KEY }}" > ~/.ssh/id_rsa && chmod 600 ~/.ssh/id_rsa
      - name: Git Pull Code and Run Angular build
        run: >
          ssh -i ~/.ssh/id_rsa vutiendat3601@dev.shopsinhvien.io.vn
          git pull
          && ng build
